:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.brand {
  color: var(--kng-navbar-text-color);

  &:hover {
    text-decoration: none;
  }
}

.layout {
  min-height: 0;
}

.content {
  min-width: 0;
  overflow-y: auto;
}
