@use '../functions' as *;

.dropdown-menu {
  background-color: token('dropdown-item-bg-color');

  .dropdown-item {
    color: token('dropdown-item-text-color');
    background-color: token('dropdown-item-bg-color');
    cursor: pointer;
    font-size: 0.8rem;

    &:hover,
    &:focus {
      color: token('dropdown-item-hover-text-color');
      background-color: token('dropdown-item-hover-bg-color');
      text-decoration: none;
    }
  }

  .dropdown {
    font-size: 0.8rem;
  }
}
